@addTagHelper *, ExploreCalifornia
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cellogram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Whipgram</a>
                @if(User.Identity.IsAuthenticated==true)
              {
                  <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                      <a href="javascript: $('#logout').submit()" class="last">
                          Logout
                          <br /><span class="tagline">@User.Identity.Name</span>
                      </a>
                  </form>
              } else {
                  <a href="@Url.Action("Login", "Account")" title="log in" class="last">
                      Login
                  </a>
              }

            </div>

            
        </nav>
    </header>
    <div class="container">
        <main class="main">
        <section class="stories">
           @RenderSection("stories",false)
           
        </section>
        </main>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
