@inject Cellogram.Models.TimeAgoService TimeStamp
@model Cellogram.Models.Post

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  <title>Instagram</title>
</head>
<body>
  <div class="instagram-card">
    <div class="instagram-card-header">
      <img src="https://secure.gravatar.com/avatar/?s=190&d=mm&r=g" class="instagram-card-user-image"/>
      <a class="instagram-card-user-name" href="https://www.instagram.com/followmeto/">@Model.User</a>
      <div class="instagram-card-time">@TimeStamp.TimeAgo(Model.Posted)</div>
    </div>
  
    <div class="intagram-card-image">
      <img class="post-image" src="@Model.Image"/>
    </div>
  
    <div class="instagram-card-content">
      <p class="likes">@Model.Likes Likes</p>
      <p><a class="instagram-card-content-user" href="https://www.instagram.com/followmeto/">@Model.User</a> @Model.Body</a></p>
       
    </div>
    
  

  </div>
</body>
</html>